.btn-group a i{
    color:#fff!important;
}
.mynav{
    background-image: linear-gradient( to right, #007bff, #5325cc )!important;
}
body{
    background: url('http://www.vactualpapers.com/web/wallpapers/material-design-hd-background-by-vactual-papers-wallpaper-695/thumbnail/lg.jpg')!important;
}
footer{
    min-height: 80px;
}

@media only screen and (min-width: 990px)   {
    .show > .dropdown-menu {
        display: block;
        /* margin-right: 55px; */
        right: 12px!important;
        left: unset!important;
    }
}