<mdb-navbar SideClass="navbar  fixed-top navbar-expand-lg navbar-dark primary-color scrolling-navbar ie-nav" [containerInside]="false">
  <logo>
    <a class="logo navbar-brand" href="/home">
      <strong>Admin Dashboard</strong>
    </a>
  </logo>
  <links>
    <ul class="navbar-nav mr-auto">
      <li class="nav-item  waves-light" mdbWavesEffect>
        <a class="nav-link" routerLink="/home">Courses
        </a>
      </li>
      <li class="nav-item waves-light" mdbWavesEffect>
        <a class="nav-link" routerLink="/quiz">Quiz</a>
      </li>
      <li class="nav-item waves-light" mdbWavesEffect>
        <a class="nav-link" routerLink="/users">Users</a>
      </li>
      <li class="nav-item waves-light" mdbWavesEffect>
        <a class="nav-link" routerLink="/enrolled">Enrolled Students</a>
      </li>
      <li class="nav-item waves-light" mdbWavesEffect>
        <a class="nav-link" routerLink="/scores">Scores</a>
      </li>
      <li class="nav-item waves-light" mdbWavesEffect>
        <a class="nav-link">Reports</a>
      </li>
      <li class="nav-item waves-light" mdbWavesEffect>
        <a class="nav-link" routerLink="/allgames">All Games</a>
      </li>
      <li class="nav-item waves-light" mdbWavesEffect>
        <a class="nav-link" routerLink="/allquiz">All Quiz</a>
      </li>
      <li class="nav-item waves-light" mdbWavesEffect>
        <a class="nav-link" routerLink="/allintro">All Intro</a>
      </li>
    </ul>
    <div class="btn-group pr-3" dropdown>
      <a dropdownToggle type="button" class=" waves-light" mdbWavesEffect>
        <i class="fa fa-plus"></i>
      </a>
      <div class="dropdown-menu dropdown-primary dropdown-menu-left dropLeft">
        <a class="dropdown-item" (click)="basicModal.show()">Upload Games</a>
        <a class="dropdown-item" routerLink="/createquiz">Create Quiz</a>
        <a class="dropdown-item" (click)="basicModal2.show()">Add Intro</a>
        <a class="dropdown-item" (click)="basicModal1.show()">Add Courses Component</a>
        <a class="dropdown-item" (click)="basicModal3.show()">Add Quiz Component</a>
      </div>
    </div>
    <ul class="navbar-nav nav-flex-icons mr-5">
      <li class="nav-item waves-light" mdbWavesEffect>
        <a class=" white-text" routerLink="">Logout</a>
      </li>
    </ul>
  </links> 
</mdb-navbar>
<div mdbModal #basicModal="mdb-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myBasicModalLabel"
  aria-hidden="true" [config]="{backdrop: true, ignoreBackdropClick: true}">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close pull-right" aria-label="Close" (click)="basicModal.hide()">
          <span aria-hidden="true">×</span>
        </button>
        <h4 class="modal-title w-100" id="myModalLabel">Upload Game</h4>
      </div>
      <div class="modal-body">
        <form (ngSubmit)="onClick(f)" #f="ngForm">
          <div class="md-form">
            <input type="text" name="name" placeholder="Game Name" ngModel>
          </div>
          <div class="md-form">
            <input type="file" id="file" name="gameURL" ngmodel>
            <p>*zip files only.</p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary waves-light" aria-label="Close" (click)="basicModal.hide()" mdbWavesEffect>Close</button>
            <button type="submit" class="btn btn-primary relative waves-light" (click)="basicModal.hide()" mdbWavesEffect>Save
              changes
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<div mdbModal #basicModal1="mdb-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myBasicModalLabel"
  aria-hidden="true" [config]="{backdrop: true, ignoreBackdropClick: true}">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <form ngNoForm role="form" method="POST" [action]= "url + 'api/course'" enctype="multipart/form-data">

        <div class="modal-header info-color">
          <button type="button" class="close pull-right" aria-label="Close" (click)="basicModal1.hide()">
            <span aria-hidden="true">×</span> 
          </button>
          <h4 class="modal-title w-100" id="myModalLabel">Add Courses Component</h4>
        </div> 
        <div class="modal-body">
          <div class="md-form">
            <div class="col-lg-12">
              <div class="form-group row">
                <div class="col-sm-12">
                  <div class="md-form mt-1">
                    <input type="text" class="form-control" name="courseName" id="inputEmail3MD" placeholder="Course Name">
                  </div>
                </div>
                <div class="col-sm-12">
                  <div class="md-form mt-1">
                    <input type="text" class="form-control" name="description" id="inputEmail3MD" placeholder="Discription">
                  </div>
                </div>
                <div class="col-sm-12">
                  <div class="md-form mt-1">
                    <input type="text" class="form-control" name="duration" id="inputEmail3MD" placeholder="Course Hours">
                  </div>
                </div>
                <div class="col-sm-12">
                  <div class="md-form mt-1">
                    <input type="text" class="form-control" name="price" id="inputEmail3MD" placeholder="Course Price">
                  </div>
                </div>
                <div class="md-form mt-3">
                  Image
                  <input type="file" class="" name="imageURL" id="inputEmail3MD" placeholder="">
                </div>

              </div>
            </div>
          </div>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary waves-light" aria-label="Close" (click)="basicModal1.hide()" mdbWavesEffect>Close</button>
          <button type="submit" class="btn btn-primary relative waves-light" routerLink="/home" mdbWavesEffect>Save changes</button>
        </div>
      </form>
    </div>
  </div>
</div>

<div mdbModal #basicModal2="mdb-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myBasicModalLabel"
  aria-hidden="true" [config]="{backdrop: true, ignoreBackdropClick: true}">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <form ngNoForm role="form" method="POST" [action]= "url + 'api/intro'" enctype="multipart/form-data">
        <!-- ec2-13-232-184-91.ap-south-1.compute.amazonaws.com -->

        <div class="modal-header info-color">
          <button type="button" class="close pull-right" aria-label="Close" (click)="basicModal2.hide()">
            <span aria-hidden="true">×</span>
          </button>
          <h4 class="modal-title w-100" id="myModalLabel">Add Intro</h4>
        </div>
        <div class="modal-body">
          <div class="md-form">
            <div class="col-lg-12">
              <div class="form-group row">

                <div class="col-sm-12">
                  <div class="md-form mt-1">
                    <input type="text" class="form-control" name="title" id="inputEmail3MD" placeholder="Intro Name">
                  </div>
                </div>
                <div class="col-sm-12">
                  <div class="md-form mt-1">
                    <input type="text" class="form-control" name="description" id="inputEmail3MD" placeholder="Description">
                  </div>
                </div>
                <div class="col-sm-12">
                  <div class="md-form mt-1">
                    <input type="text" class="form-control" name="details" id="inputEmail3MD" placeholder="Details">
                  </div>
                </div>
                <div class="md-form mt-3">
                  Image
                  <input type="file" class="" name="image" id="inputEmail3MD" placeholder="">
                </div>

              </div>
            </div>
          </div>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary waves-light" aria-label="Close" (click)="basicModal2.hide()" mdbWavesEffect>Close</button>
          <button type="submit" class="btn btn-primary relative waves-light" mdbWavesEffect>Save changes</button>
        </div>
      </form>
    </div>
  </div>
</div>
<!-- <form ngNoForm role="form" method="POST" action="http://ec2-13-232-223-210.ap-south-1.compute.amazonaws.com:8080/api/mainQuiz" enctype="multipart/form-data"> -->
<!-- <div class="row">
    <div class="col-sm-12">
      <div class="md-form mt-1">
          <select required type="text" class="form-control" name="intro" [(ngModel)]="mainQuizCat" #time="ngModel" >
          <option *ngFor="let i of optionIntro" value="{{i}}">{{ i }}</option>
        </select>
      </div>
    </div>
  </div> -->
<div mdbModal #basicModal3="mdb-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myBasicModalLabel"
  aria-hidden="true" [config]="{backdrop: true, ignoreBackdropClick: true}">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <form name="form" (ngSubmit)="f.form.valid && onSubmit(f)" #f="ngForm" novalidate>
        <div class="modal-header info-color">
          <button type="button" class="close pull-right" aria-label="Close" (click)="basicModal3.hide()">
            <span aria-hidden="true">×</span>
          </button>
          <h4 class="modal-title w-100" id="myModalLabel">Add Quiz Component</h4>
        </div>
        <div class="modal-body">
          <div class="md-form">

              <div class="col-lg-12">
                  <div class="form-group row">
    
                    <div class="col-sm-12">
                      <div class="md-form mt-1">
                        <input type="text" class="form-control" [(ngModel)]="mainQuiz.Title" name = 'name' id="inputEmail3MD" placeholder="Quiz Name">
                      </div>
                    </div>
                    <div class="col-sm-12">
                      <div class="md-form mt-1">
                        <input type="text" class="form-control" [(ngModel)]="mainQuiz.Intro" name="intro" id="inputEmail3MD" placeholder="Intro Name">
                      </div>
                    </div>    
                  </div>
                </div>
              </div>

        </div>
        <div class="modal-footer form-group">
          <button type="button" class="btn btn-secondary waves-light" aria-label="Close" (click)="basicModal3.hide()" mdbWavesEffect>Close</button>
          <button type="submit" class="btn btn-primary relative waves-light" (click)="basicModal3.hide()" mdbWavesEffect>Save
            Changes
          </button>
        </div>
      </form>
    </div>
  </div>
</div>