.module-header a{
    position: absolute;
    top: 5px;
    right: 0;
}
.pluse  {
    color: white;
    float: right;
    cursor: pointer;
    font-size: 38px;
}
.card-imgs{
    height: 75px;
    width: 105px;
    margin: 5px;
  }
.titleName  {
    position: absolute;
    bottom: 12px;
}
.deletebutton  {
    right: 160px !important;
}
.card1 {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-clip: border-box;
    background-color: none!important;
    border-radius: 0.25rem;
}
.introDisplay {
    font-size: 26px;
    margin-top: 5px;
    margin-left: 5px;
}

.introName  {
    text-align: center;
}

.whiteBackground    {
    background: white;
}

.heddderName    {
    width: 100%;
}