.module-header a{
    position: absolute;
    top: 5px;
    right: 0;
}

.introDisplay {
    font-size: 26px;
    margin-top: 5px;
    margin-left: 5px;
}

.introName  {
    text-align: center;
    color: snow;
}

.whiteBackground    {
    background: white;
}

.heddderName    {
    width: 100%;
}