<app-header></app-header>
<div class="container">
  <div class="row mt-5 pt-5">
    <div class="col module-header">
      <h2>Smart student Challenge Modules </h2>
      <a class="btn float-right info-color text-white waves-light" routerLink="/linking" mdbWavesEffect>Add Module </a>
    </div>
  </div>
  <div class="modules">
    <div class="row mt-5">
      <div class="col-sm-4 animated fadeIn">
        <a routerLink="/currentmodule">
          <div class="card secondary-color ">
            <h2 class="card-title p-4 text-white">Module 1</h2>
          </div>
        </a>
      </div>
      <div class="col-sm-4 animated fadeIn">
        <a routerLink="/currentmodule">
          <div class="card secondary-color ">
            <h2 class="card-title p-4 text-white">Module 2</h2>
          </div>
        </a>
      </div>
      <div class="col-sm-4 animated fadeIn">
        <a routerLink="/currentmodule">
          <div class="card secondary-color ">
            <h2 class="card-title p-4 text-white">Module 3</h2>
          </div>
        </a>
      </div>
    </div>
    <div class="row mt-5 ">
      <div class="col-sm-4 animated fadeIn">
        <a routerLink="/currentmodule">
          <div class="card secondary-color ">
            <h2 class="card-title p-4 text-white">Module 4</h2>
          </div>
        </a>
      </div>
      <div class="col-sm-4 animated fadeIn">
        <a routerLink="/currentmodule">
          <div class="card secondary-color ">
            <h2 class="card-title p-4 text-white">Module 5</h2>
          </div>
        </a>
      </div>
      <div class="col-sm-4 animated fadeIn">
        <a routerLink="/currentmodule">
          <div class="card secondary-color ">
            <h2 class="card-title p-4 text-white">Module 6</h2>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>
