<app-header></app-header>
<div class="container whiteBackground animated fadeInLeft">
  <div class="container-fluid">

    <a class="btn info-color text-white waves-light " routerLink="/linking" mdbWavesEffect>Add Module</a>
    <div class="row mt-5 pt-5">

      <div class="col text-muted module-header">
        <h3>Module Name </h3>
        <form>
          <input style="display: inline;" name="moduleName" [(ngModel)]="data.moduleName" type="text" class="moduleName" id="inputEmail3MD"
            placeholder="Enter Module Name" ngModel required>
        </form>
        <button type="button" class="btn btn-primary relative waves-light" (click)="changeName(data.moduleName, module)" mdbWavesEffect>Confirm</button>
      </div>
    </div>

    <div class="row mt-3">
      <div class="col-lg-4 animated fadeIn">
        <div class="card">
          <div class="card-header info-color">
            <h3 class="text-white text-center">Intro</h3>
          </div>
          <div class="card-body">
            <ul class="list-group">
              <li *ngIf="name" class="list-group-item d-flex justify-content-between align-items-center">
                {{ data.introTitle }}
                <span (click)="edit()" class="badge badge-primary badge-pill">
                  <i class="fa  fa-2x fa-edit"></i>
                </span>
              </li>
              <li *ngIf="list" class="list-group-item d-flex justify-content-between align-items-center">
                <div class="input-group mb-3">
                  <form>
                    <select [(ngModel)]="data.introTitle" name="introTitle" class="custom-select" id="inputGroupSelect02" ngModel>
                      <option *ngFor="let i of optionIntro"> {{ i }} </option>
                    </select>
                  </form>
                </div>
                <span (click)="redo()" style="margin-top: -15px;" class="badge danger-color ml-2">
                  <i class="fa fa-2x fa-times "></i>
                </span>
              </li>
            </ul>
            <div *ngIf="list" class="col-lg-12 text-center">
              <a type="button" class="btn text-center info-color text-white waves-light" (click)="changeName(data.introTitle, intro)" mdbWavesEffect>Save</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 animated fadeIn">
        <div class="card">
          <div class="card-header success-color">
            <h3 class="text-white text-center">Game</h3>
          </div>
          <div class="card-body">
            <ul class="list-group">
              <li *ngIf="name1" class="list-group-item d-flex justify-content-between align-items-center">
                {{ data.name }}
                <span (click)="edit1()" class="badge badge-primary badge-pill">
                  <i class="fa  fa-2x fa-edit"></i>
                </span>
              </li>

              <li *ngIf="list1" class="list-group-item d-flex justify-content-between align-items-center">
                <div class="input-group mb-3">
                  <form>
                    <select [(ngModel)]="data.name" class="custom-select" id="inputGroupSelect02" ngModel>
                      <option *ngFor="let i of optionGame"> {{ i }} </option>
                    </select>
                  </form>
                </div>
                <span (click)="redo1()" style="margin-top: -15px;" class="badge danger-color ml-2">
                  <i class="fa  fa-2x fa-times "></i>
                </span>
              </li>
            </ul>
            <div *ngIf="list1" class="col-lg-12 text-center">
              <a type="button" class="btn text-center info-color text-white waves-light" (click)="changeName(data.name, game)" mdbWavesEffect>
                Save</a>
            </div>
          </div>
        </div>

      </div>
      <div class="col-lg-4 animated fadeIn">
        <div class="card">
          <div class="card-header danger-color">
            <h3 class="text-white text-center">Quiz</h3>
          </div>
          <div class="card-body">
            <ul class="list-group">
              <li *ngIf="name2" class="list-group-item d-flex justify-content-between align-items-center">
                {{ data.quizCategory }}
                <span (click)="edit2()" class="badge badge-primary badge-pill">
                  <i class="fa  fa-2x fa-edit"></i>
                </span>
              </li>
              <li *ngIf="list2" class="list-group-item d-flex justify-content-between align-items-center">
                <div class="input-group mb-3">
                  <form>
                    <select [(ngModel)]="data.quizCategory" name="category" class="custom-select" id="inputGroupSelect02" ngModel>
                      <option *ngFor="let i of optionQuiz"> {{ i }} </option>
                    </select>
                  </form>
                </div>
                <span (click)="redo2()" style="margin-top: -15px;" class="badge danger-color ml-2">
                  <i class="fa  fa-2x fa-times "></i>
                </span>
              </li>
            </ul>
            <div *ngIf="list2" class="col-lg-12 text-center">
              <a type="button" class="btn text-center info-color text-white waves-light" (click)="changeName(data.quizCategory, quiz)"
                mdbWavesEffect>
                Save</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div style="height: 25px"></div>
</div>