.example-container {
    display: flex;
    flex-direction: column;
    max-height: 500px;
    min-width: 300px;
    overflow: auto;
  }
  .example-header {
    min-height: 64px;
    padding: 8px 24px 0;
  }
  
  .mat-form-field {
    font-size: 14px;
    width: 100%;
  }  

  .card-imgs{
    height: 75px;
    width: 105px;
    // width: 470px;
    margin: 5px;
  }
  td.mat-cell:last-child, td.mat-footer-cell:last-child, th.mat-header-cell:last-child {
    padding-right: 24px !important;
} 