<div class="loginBody">
  <div class="modal-dialog text-center">
    <div class="col-sm-8 mainSection">
      <div class="modelContent">

        <div class="col-12 adminLogo">
          <img src="../../assets/admin.png">
        </div>

        <form class="col-12">
          <div class="formGroup">
            <input style="display: inline; position: relative;" type="text" class="form-control" placeholder="Enter Admin E-Mail">
            <span class="fa fa-user adminIcon"></span>
          </div>
          <div class="formGroup">
            <input style="display: inline; position: relative;" type="password" class="form-control" placeholder="Enter password">
            <span class="fa fa-lock adminIcon"></span>
          </div>
          <button type="submit" class="btn info-color logBtn">
            <span style="display: inline; margin-right: 2px;" class="fa fa-sign-in"></span> Login
          </button>
        </form>

        <div class="col-12 forgot">
          <a href="-----">Forgot Password?</a>
        </div>

      </div>

    </div>
  </div>
</div>