<main>
  <div class="container">
    <div class="row mt-5 pt-5 justify-content-center">
      <div class="col-sm-12 col-lg-9">
        <div class="card animated fadeInLeft">
          <div class="card-header info-color">
            <h2 class="text-white">Create Quiz</h2>
          </div>
          <div class="card-body">
            <form ngNoForm role="form" method="POST" action="http://ec2-13-232-184-91.ap-south-1.compute.amazonaws.com:8080/api/quiz"
              enctype="multipart/form-data">
              <div class="col-lg-12">
                <div class="form-group row">
                  <!-- Material input -->
                  <label for="inputEmail3MD" class="col-sm-2 col-form-label">Select Categories</label>
                  <div class="col-sm-10">
                    <div class="md-form mt-0">
                      <!-- <select ng-model="def"> -->
                      <select (click)="hideCategory()" [(ngModel)]="category" name="category" class="form-control" id="inputEmail3MD" placeholder="Enter Your Category">
                        <option>Select category</option>
                        <option *ngFor="let i of opption">{{ i }}</option>
                        <option>Create New</option>
                        <!-- <input type="hidden" name="category" value => -->

                      </select>
                    </div>

                    <div class="md-form mt-0" *ngIf="!hide">
                      <input name="category" type="text" [(ngModel)]="category" class="form-control" id="inputEmail3MD" placeholder="New Categorie Name">
                    </div>

                    <!-- <div class="md-form mt-0">
                            <button class="btn btn-primary" id="inputEmail3MD" placeholder="" (click)="basicModal.show()">Add Categories</button>
                          </div> -->



                  </div>
                </div>
              </div>
              <div class="col-lg-12">
                <div class="form-group row">
                  <!-- Material input -->
                  <label id="inputEmail3MD" class="col-sm-2 col-form-label">Question</label>
                  <div class="col-sm-10">
                    <div class="md-form mt-0">
                      <input name="question" type="text" class="form-control" id="inputEmail3MD" placeholder="Enter Your Question">
                    </div>
                    <div class="md-form mt-0">
                      <input name="mediaURL" type="file" class="" placeholder="">
                      <select name="mediaType" style=" margin-left: 25%;">
                        <option>text</option>
                        <option>image</option>
                        <!-- <option>Create New</option> -->
                      </select>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-12 mt-5">
                <div class="form-group row">
                  <!-- Material input -->
                  <label for="inputEmail3MD" class="col-sm-2 col-form-label">Option 1</label>
                  <div class="col-sm-10">
                    <div class="md-form mt-0">
                      <input name="option1" type="text" class="form-control" id="inputEmail3MD" placeholder="Enter Your Option 1">
                    </div>
                    <div class="md-form mt-0">
                      <span class="mr-2">Correct Option</span>
                      <input value="1" type="radio" name="correctAns" />
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-12 mt-5">
                <div class="form-group row">
                  <!-- Material input -->
                  <label for="inputEmail3MD" class="col-sm-2 col-form-label">Option 2</label>
                  <div class="col-sm-10">
                    <div class="md-form mt-0">
                      <input name="option2" type="text" class="form-control" id="inputEmail3MD" placeholder="Enter Your Option 2">
                    </div>
                    <div class="md-form mt-0">
                      <span class="mr-2">Correct Option</span>
                      <input value="2" type="radio" name="correctAns" />
                    </div>
                  </div>

                </div>
              </div>
              <div class="col-lg-12 mt-5">
                <div class="form-group row">
                  <!-- Material input -->
                  <label for="inputEmail3MD" class="col-sm-2 col-form-label">Option 3</label>
                  <div class="col-sm-10">
                    <div class="md-form mt-0">
                      <input name="option3" type="text" class="form-control" id="inputEmail3MD" placeholder="Enter Your Option 3">
                    </div>
                    <div class="md-form mt-0">
                      <span class="mr-2">Correct Option</span>
                      <input value="3" type="radio" name="correctAns" />
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-12 mt-5">
                <div class="form-group row">
                  <!-- Material input -->
                  <label for="inputEmail3MD" class="col-sm-2 col-form-label">Option 4</label>
                  <div class="col-sm-10">
                    <div class="md-form mt-0">
                      <input name="option4" type="text" class="form-control" id="inputEmail3MD" placeholder="Enter Your Option 4">
                    </div>
                    <div class="md-form mt-0">
                      <span class="mr-2">Correct Option</span>
                      <input value="4" type="radio" name="correctAns" />
                    </div>
                    <!-- <div class="md-form mt-2">
                        <input type="file" class="" id="inputEmail3MD" placeholder="">
                      </div> -->
                  </div>
                </div>
              </div>
              <div class="button text-center">
                <button type="submit" class="btn btn-primary">Save</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>