/* You can add global styles to this file, and also import other style files */
body{
    background: #f1efef
}
.whiteBG    {
    background: white;
    height: 100%;
    width: 100%;
    position: relative;
}
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';